{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions"]
      }
    }]
  ]
  , "plugins":[
    "babel-plugin-transform-object-rest-spread",
    "transform-react-jsx"
  ]
}